/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {border-bottom: solid 1px #333;}
nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}


.formEx fieldset {
    margin: 2rem 0;
    border: 1px solid #DDD;
    border-radius: 6px;
    padding: .5rem 2%;
}

.formEx legend {
    color: blue;
    padding: 0 .5rem;    
}

.formEx label {
    display: block;
    padding-top: 1rem;
    color: rebeccapurple;
    font-size: .9rem;
}

.formEx div {
    padding-top: 1rem;
    color: blue;
    font-size: .9rem;
}

.formEx input[type="text"],
.formEx select,
.formEx input[type="tel"],
.formEx input[type="email"],
.formEx input[type="url"], 
.formEx input[type="date"],
.formEx input[type="number"] {
    background-color: #eee;
    display: block;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .75rem;
    color:darkgreen;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.formEx input[type="radio"],
.formEx input[type="checkbox"] {
    margin-right: 6px;
}

.formEx input[type="submit"] {
    border: 1px double inset rebeccapurple;
    background-color: blueviolet;
    color: #FFF;
    padding: .8rem;
    border-radius: 6px;
    width: 96%;
    max-width: 400px;
    font-weight: 700;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #444;
}

.formEx input:required {
    border: 5px solid red;
}

.formEx input:required:valid {
    border: 5px solid teal;
}