@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.biorhyme-headings {
  font-family: "BioRhyme", serif;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}

:root {
    --primary-color: #116B92;
    --secondary-color: #EEE8D3;
    --accent1-color: #dcba93;

    --heading-font: "BioRhyme", Arial, sans-serif;
    --paragraph-font: "Fira Sans", Arial, sans-serif;

    --nav-background-color: #dcba93;
    --nav-link-color: black;
    --nav-hover-link-color: #7daacc;
    --nav-hover-background-color: #EEE8D3;
}

body {
    display: flexbox;
    box-sizing: border-box;
    grid-template: auto 1fr auto / 1vw;
    max-width: 960px;
    height: auto; 
    font-family: var(--paragraph-font, Arial, sans-serif);
       
    font-size: 1.2em;
    margin: 0 auto;
    padding: 0;
    }

header {
    display: flex;    
    background-color: teal;
    color: #000;
    justify-content: space-around;
    align-items: left;
    padding: 15px;   
}

h1 {
    display: flexbox;
    font-family: var(--heading-font, Arial, Helvetica, sans-serif);
    text-align: left;
    padding-left: 5px;
    background-color: teal;
}

#menu {    
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
	font-size: 3rem;
    text-align: center;
	font-weight:700;
	text-decoration: none;
	color: #000;
}

#menu::after {
	content: "≡";
}

.navigation li {
	display: none;
}

.navigation a {
	display: flex;
	padding: .8rem;	
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1.5rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: #7AA;
}

.show .navigation a {
    text-align: center;
}

.show li {
	display: block;
    text-align: center;
}

h1.show {
    display: none;
}

#menu.show::after {
	content: "X";
}

main {
    display: grid;
    grid-template: 40px auto / auto;
    align-content: center;
    background-color: #EEE8D3;
    padding: 5px; 
    margin: 0 auto;
}

h2 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px;
}

div.container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}

.temple {
    display: inline-flexbox;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

figure {
    width: 300px;
    align-content: center;
    align-items:center;
    text-align: center;
    padding: 0;
}

figcaption {    
    text-align: center;
}

img {
    width: 300px;
    padding: 5px;    
}

p {
    padding: 5px;
    margin: 0;
}

footer {
    height: 12vh;
    background-color:teal;
    color: #000;
    text-align: center;
    font-weight: 900;
    padding: 5px;
}

#lastModified {
    font-size: .9rem;
    color: white;
}
